.react-datepicker-wrapper {
    width: 165px !important;
    display: flex !important;
    justify-content: center !important;
}

.indicator {
    color: gray;
    font-size: 24px;
    font-weight: 800;
}

@media print {
    .print-content {
        display: block;
    }
}
